@font-face {
  font-family: Museo;
  src: url(/museo-sans-rounded/MuseoSansRounded500.otf);
}

@font-face {
  font-family: Museo2;
  src: url(/museo-sans-rounded/MuseoSansRounded300.otf);
}


header {
  position: absolute;
  width: 100%;
}

#wrapper {
  max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV--------------------------------------------------------------------- */

.topnav {
  justify-content: flex-end;
  display: flex;
  overflow: hidden;
  background-color: #000000b1;
  align-items: center;
  height: 70px;
  gap: 2em;
  border-bottom: #9e8d5f2c;
  border-style: solid;
  border-width: 2px;
  padding-right: 20px;

}

.topnav a {

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-size: 12 px;
  font-family: Museo;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  width: 500px;
  margin-right: 16px;
  font-size: 17px;
  outline: none;
  text-transform: capitalize;
}

.subscribe {
  display: flex;
  gap: 15px;
  padding: 5px;
  background-color: rgb(75, 153, 249);
  align-items: center;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  color: white;
}

.subscribe i {
  font-size: 20px;

}

.sa {
  font-size: 30px;
}

.topnav i {
  color: white;
  cursor: pointer;
}

.sa:hover {
  color: #af995c;

}

.mainNav {
  background-color: black;
  display: flex;
  align-items: center;
  height: 67px;
  justify-content: space-between;
  justify-content: center;
  list-style: none;
}

.mainNav a {
  color: white;
  text-decoration: none;
  font-size: 12 px;
  font-family: Museo;
}

.mainNav ul {
  display: flex;
}

.mainNav li {
  padding: 1.5em;
}

.mainNav li :hover {
  color: #A39161;
}

.mainNav li:first-child {
  padding-left: 0;
}

/* NAV--------------------------------------------------------------------- */



.hero1 img {
  width: 250px;
  margin-top: 100px;
}

.hero1 {
  display: flex;
  background-image: url(img/8.jpg);
  height: 600px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  font-family: Museo;
  height: 740px;
  background-repeat: no-repeat;
  background-size: cover
}

.hero2 {
  display: flex;
  background-image: url(img/chris-panas-UeITqYE-Xxw-unsplash\(1\).jpg);
  height: 453px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  font-family: Museo;
}


/* GRID--------------------------------------------------------------------- */


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.socialv1,
.socialv2,
.socialv3 {
  display: flex;
  max-width: 640px;
  height: 500px;
  justify-content: center;
  align-items: center;
  font-size: 250px;
  text-align: center;
  font-family: Museo;
}

.socialv1 {
  background-image: url(img/5.jpg);
}

.socialv2 {
  background-image: url(img/6.jpg);
}

.socialv3 {
  background-image: url(img/7.jpg);
}

.socialv1,
.socialv2,
.socialv3,
a {
  color: #fff;
  text-decoration: none;

}

.socialv1,
.socialv2,
.socialv3,
a:hover {
  color: #A39161;
  transition: 0.4s;
  text-decoration: none;
}

.footer_social a:hover {
  color: #625a41;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #111111;
  height: 350px;
  padding: 0px 300px 0px 300px;
}

.cards {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  font-size: 17px;
  text-align: center;
  font-family: Museo2;
  color: white;
}

.cards p {
  padding-top: 10px;
}

.cards button {
  border-color: white;
  padding: 5px 25px 5px 25px;
  background: none;
  cursor: pointer;
  color: #af995c;
  font-size: 30px;
}


/* FOOTER--------------------------------------------------------------------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 74px;
  background: #A39161;
  padding: 0 20px;
}

.footer_address {
  font-size: 10px;
  color: #000000;
  line-height: 1.2;
  font-weight: 700;
  margin-right: 30px;
}

.footer_links {
  font-size: 14px;
  min-width: 200px;
  align-self: baseline;
  margin-top: 12px;
}

.footer_social a:hover {
  color: #625a41;
}

footer i {
  color: #ffffff;
}

footer i:hover {
  color: #574e35;
}

.footer_links a {
  color: #fff;
  text-decoration: underline;
}

.footer_links .pipe {
  padding: 0px;
  color: #fff;

}

.socials {
  padding: 5px;
}

.footer_social {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.footer_social img {
  max-width: 30%;
  margin-left: auto;
}

/* FOOTER--------------------------------------------------------------------- */