.product__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider-container {
    position: relative;
    height: 664px;
    overflow: hidden;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    max-width: 50px;
}

.arrowLeft,
.arrowRight {
    max-width: 55px;
}

.slider-prev {
    left: 100px;
}

.slider-next {
    right: 100px;
}

.slider-slide.active {
    opacity: 1;
}

.caption-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #b3a06d;
    font-size: 50px;
    font-family: Museo;
    z-index: 1;
}

.slider-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

@font-face {
    font-family: silas;
    src: url(/museo-sans-rounded/MuseoSansRounded300.otf);
}

.slider-container p {
    font-family: silas;
}

.caption1 {
    top: 50px;
    left: 300px;
}

.caption2 {
    bottom: 80px;
    left: 300px;
}

.caption3 {
    bottom: 100px;
    text-align: center;
}

.caption4 {
    top: 120px;
    text-align: center;
}