@font-face {
    font-family: Museo;
    src: url(./museo-sans-rounded/MuseoSansRounded500.otf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: "museo";
}

#wrapper {
    justify-content: center;
    display: flex;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.gallery img {
    width: 230px;
    height: 230px;
    filter: brightness(110%) opacity(0.5) drop-shadow(0 0 rgba(193, 142, 23, 0.767));
}

.gallery div {
    width: 230px;
    height: 230px;
    display: grid;
}

.gallery a {
    align-self: center;
    font-size: 20px;
    text-align: center;
    display: grid;
    transition: transform .2s;

}

.gallery span {
    position: absolute;
    z-index: 1;
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: underline;

}

.outlet img {
    filter: brightness(180%) opacity(0.4) drop-shadow(0 0 rgb(255, 21, 21));
}

.gallery a:hover {
    transform: scale(1.1);
    z-index: 1;
}

.gallery a:hover img {
    filter: opacity(1) drop-shadow(0 0 rgba(139, 106, 29, 0.767));
}

.shopnow {
    background-color: #A39161;
}

.shopnow span {
    background-color: rgba(71, 40, 0, 0.598);
    padding: 0.5em;
    text-decoration: none;
}

@media (max-width: 750px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 500px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}