@font-face {
  font-family: Museo;
  src: url(./museo-sans-rounded/MuseoSansRounded500.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV */

nav {
  background-color: black;
  display: flex;
  align-items: center;
  height: 67px;
  justify-content: space-between;
  justify-content: center;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 12 px;
  font-family: Museo;
}

nav ul {
  display: flex;
}

nav li {
  padding: 1.5em;
}

nav li :hover {
  color: #A39161;
}

nav li:first-child {
  padding-left: 0;
}


.hero2 {
  display: flex;
  background-image: url(img/bruno-cervera-dtqlaz4HyHw-unsplash\(1\).jpg);
  width: 1915px;
  height: 453px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  font-family: Museo;
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.socialv1,
.socialv2,
.socialv3 {
  display: flex;

  max-width: 640px;
  height: 500px;
  justify-content: center;
  align-items: center;
  font-size: 250px;
  text-align: center;
  font-family: Museo;
}

.socialv1 {
  background-image: url(img/5.jpg);
}

.socialv2 {
  background-image: url(img/6.jpg);
}

.socialv3 {
  background-image: url(img/7.jpg);
}

.socialv1,
.socialv2,
.socialv3,
a {
  color: #fff;
  text-decoration: none;
}

.socialv1,
.socialv2,
.socialv3,
a:hover {
  color: #A39161;
  text-decoration: none;
}



/* FOOTER */


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 74px;
  background: #A39161;
  padding: 0 20px;
}

.footer_address {
  font-size: 10px;
  color: #000000;
  line-height: 1.2;
  font-weight: 700;
}

.footer_links {
  font-size: 14px;
}

.footer_links a {
  color: #fff;
  text-decoration: underline;
}

.footer_links .pipe {
  padding: 0px;
  color: #fff;

}


.footer_social {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.footer_social img {
  max-width: 30%;
  margin-left: auto;
}

.slider-container {
  position: relative;
  width: 1920px;
  height: 665px;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  /* Add your arrow styles here */
}

.prev-button {
  left: 100px;
}

.next-button {
  right: 100px;
}

.prev-button img,
.next-button img {
  width: 100%;
  height: 100%;
}